<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 목록</title>
    <style>
        .active {
            font-weight: bold;
            font-size: 1.2rem;
        }

    </style>
</head>
<body>
    <h1>사용자 목록</h1>

    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>이메일</th>
                <th>전화번호</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${list.content}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
        </tbody>
    </table>

    <div style="width: 300px; text-align: center;">
        <th:block th:each="i : ${#numbers.sequence(1, list.totalPages)}">
            <a class="active" th:if="${i == (list.number + 1)}" th:href="|/user/list?pageNumber=${i}|" th:text="${i}"></a>
            <a class="" th:unless="${i == (list.number + 1)}" th:href="|/user/list?pageNumber=${i}|" th:text="${i}"></a>
        </th:block>

    </div>

</body>
</html>