<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 목록</title>
    <style>
        .page {
            margin-right: 1rem;
        }

        .active {
            font-weight: bold;
        }

        table {
            width: 600px;
        }

        .search {
            width: 600px;
            text-align: right;
            margin-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

    </style>

</head>
<body>
    <h1>사용자 목록</h1>

    <div class="search">
        <form method="get" action="/user/list">
            <select name="type">
                <option value="userName">이름</option>
                <option value="email">이메일</option>
                <option value="phoneNumber">전화번호</option>
            </select>
            <input type="text" name="search">
            <button>검색</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>이메일</th>
                <th>전화번호</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${list.content}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
        </tbody>
    </table>

    <div style="width: 300px; text-align: center;">
        <th:block th:each="num : ${#numbers.sequence(1, list.totalPages)}">
            <a class="page active" th:if="${list.number == (num - 1)}"   th:text="${num}"  th:href="|/user/list?pageNumber=${num}|"></a>
            <a class="page" th:unless="${list.number == (num - 1)}"   th:text="${num}"  th:href="|/user/list?pageNumber=${num}|"></a>
        </th:block>

    </div>

</body>
</html>